{% extends 'base.html.twig' %}

{% block title %}Order index{% endblock %}

{% block body %}
    <h1>Order index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(orders, 'Id', 'o.id') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'User', 'o.user') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'Currency', 'o.currency') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'Amount', 'o.amount') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'Message', 'o.message') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'CreatedAt', 'o.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(orders, 'UpdatedAt', 'o.updatedAt') }}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.name }}</td>
                <td>{{ order.currency.name }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.message }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ order.updatedAt ? order.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('order_show', {'id': order.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(orders) }}
{% endblock %}
